.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px); 
  height: 12vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 16px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-pic{
  display:flex;
  flex-direction: row;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.header-icon{
  margin: 0px 15px;
}

.header-logo{
  width: 130px;
  height: auto;
  margin: auto 20px;
  border-radius: 10px
}

.header-search {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.search-component {
  background-color: #444;
  border: 1px solid #555;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  width: 250px;
}

@media (max-width: 768px) {
  .header-container {
    height: 10vh;
  }
  .header-title{
    margin-left: 35px;
  }
  .header-icon{
    display: none;
  }
  .header-logo{
    margin-left: 30px;
  }
}